<form class="col-lg-12 col-md-12 col-sm-12 form-wrapper cf">
    <input id="cumulativeText" type="text" name="Cumulative" placeholder="Enter cumulative..." required />
    <button id="EnterCumulative" type="submit">GO</button>
</form>