@model Dictionary<string, List<FuturesWeb.Models.Currency>>
@{
    ViewBag.Title = "Futures Web";
}

<div class="limiter">
    <div class="container-table100">
        @Html.Partial("_SearchForm")

        <div class="col-lg-12 col-md-12 col-sm-12 wrap-table100">
            <div id="refTable" class="table100 ver2">
                @Html.Partial("_FutureTable", Model)
            </div>
        </div>

        @Html.Partial("_Footer")
    </div>
</div>